
/* background */
.cbg-primary{
    background-color: var(--color-primary-100);
}
.bg-surface-100{
    background-color: var(--dark-color-surface-100);
}
.bg-surface-200{
    background-color: var(--dark-color-surface-200);
}
.bg-surface-300{
    background-color: var(--dark-color-surface-300);
}
.bg-surface-400{
    background-color: var(--dark-color-surface-400);
}

/* text */
.ctext-primary{
    color: var(--dark-color-text-primary);
}

/* font */
.cfs-7{
    font-size: 0.8rem;
}

/* with fix */

.cw-200{
    width: 200px;
}
.cw-300{
    width: 300px;
}
.cw-400{
    width: 400px;
}
/* tag */
.tag-green {
    background-color: var(--dark-color-tag-green-bg) !important;
    border:1px solid var(--dark-color-tag-green-border);
    color: var(--dark-color-tag-green-color);
    padding: 1px 8px;
}
.tag-purple{
    background-color: var(--dark-color-tag-purple-bg) !important;
    border:1px solid var(--dark-color-tag-purple-border);
    color: var(--dark-color-tag-purple-color);
    padding: 1px 8px;
}
.tag-blue {
    background-color: var(--dark-color-tag-blue-bg) !important;
    border:1px solid var(--dark-color-tag-blue-border);
    color: var(--dark-color-tag-blue-color);
    padding: 1px 8px;
}

.tag-orange{
    background-color: var(--dark-color-tag-orange-bg) !important;
    border:1px solid var(--dark-color-tag-orange-border);
    color: var(--dark-color-tag-orange-color);
    padding: 1px 8px;
}

.tag-red{
    background-color: var(--dark-color-tag-red-bg) !important;
    border:1px solid var(--dark-color-tag-red-border);
    color: var(--dark-color-tag-red-color);
    padding: 1px 8px;
}


/* btn */
.cbtn-primary {
    color: #fff;
    background-color: #008771;
    border-color: #008771;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
}
.cbtn-primary:focus, .cbtn-primary:hover, .cbtn-primary:active {
    color: #fff !important;
    background-color: #18947b !important;
    border-color: #18947b !important;
}

.cbtn-surface{
    border:1px solid var(--dark-color-surface-300);
    background-color: var(--dark-color-surface-100);
    color: var(--dark-color-text-primary) !important;
}
.cbtn-surface:hover{
    background-color:rgb(0 135 113 / .3) !important;
    border-color: var(--color-primary-100);
}

/* table */
.bg-table-header th{
    background-color: var(--dark-color-background) !important;
    color: var(--dark-color-text-primary);
}

