@font-face {
    font-family: 'est';
    src: url('/assets/fonts/Estedad-FD[KSHD\,wght].ttf') format('truetype');
}

@font-face {
    font-family: 'shabnam';
    src: url('/assets/fonts/Shabnam-Bold-FD.eot'),
         url('/assets/fonts/Shabnam-Bold-FD.woff') format('woff'),
         url('/assets/fonts/Shabnam-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'shabnam';
    src: url('/assets/fonts/Shabnam-FD.eot'),
         url('/assets/fonts/Shabnam-FD.woff') format('woff'),
         url('/assets/fonts/Shabnam-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shabnam';
    src: url('/assets/fonts/Shabnam-Light-FD.eot'),
         url('/assets/fonts/Shabnam-Light-FD.woff') format('woff'),
         url('/assets/fonts/Shabnam-Light-FD.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}