@import url('./cutilz.css');
@import url('./fonts.css');

:root{
    --color-primary-100: #008771;
    --dark-color-background: #0a1222;
    --dark-color-surface-100: #151f31;
    --dark-color-surface-200: #222d42;
    --dark-color-surface-300: #2c3950;
    --dark-color-surface-400: rgba(65, 85, 119, 0.5);
    --dark-color-surface-500: #2c3950;
    --dark-color-surface-600: #313f5a;
    --dark-color-surface-700: #111929;
    --dark-color-table-hover: rgba(44, 57, 80, 0.2);
    --dark-color-text-primary: rgba(255, 255, 255, 0.75);
    --dark-color-stroke: #2c3950;
    --dark-color-btn-danger: #cd3838;
    --dark-color-btn-danger-border: transparent;
    --dark-color-btn-danger-hover: #e94b4b;
    --dark-color-tag-bg: rgba(255, 255, 255, 0.05);
    --dark-color-tag-border: rgba(255, 255, 255, 0.15);
    --dark-color-tag-color: rgba(255, 255, 255, 0.75);
    --dark-color-tag-green-bg: #112421;
    --dark-color-tag-green-border: #195141;
    --dark-color-tag-green-color: #3ad3ba;
    --dark-color-tag-purple-bg: #201425;
    --dark-color-tag-purple-border: #5a2969;
    --dark-color-tag-purple-color: #d988cd;
    --dark-color-tag-red-bg: #291515;
    --dark-color-tag-red-border: #5c2626;
    --dark-color-tag-red-color: #e04141;
    --dark-color-tag-orange-bg: #312313;
    --dark-color-tag-orange-border: #593914;
    --dark-color-tag-orange-color: #ffa031;
    --dark-color-tag-blue-bg: #111a2c;
    --dark-color-tag-blue-border: #1348ab;
    --dark-color-tag-blue-color: #529fff;
    --dark-color-codemirror-line-hover: rgba(0, 135, 113, 0.2);
    --dark-color-codemirror-line-selection: rgba(0, 135, 113, 0.3);
    --dark-color-login-background: var(--dark-color-background);
    --dark-color-login-wave: var(--dark-color-surface-200);
    --dark-color-tooltip: rgba(61, 76, 104, 0.9);
    --dark-color-back-top: rgba(61, 76, 104, 0.9);
    --dark-color-back-top-hover: rgba(61, 76, 104, 1);
    --dark-color-scrollbar: #313f5a;
    --dark-color-scrollbar-webkit: #7484a0;
    --dark-color-scrollbar-webkit-hover: #90a4c7;
    --dark-color-table-ring: rgb(38 52 77);
    --dark-color-spin-container: #151f31;
}


/* general */
a{
    text-decoration: none;
}
.btn-close:focus{
    box-shadow: none !important;
}

body{
    background-color: var(--dark-color-background);
    font-family: "shabnam";
}

body>.row{
    min-height: 100vh;
}



/* login and register */
.form-control{
    border:1px solid var(--dark-color-surface-300);
    color: var(--dark-color-text-primary) !important;
}
.form-control:focus{
    background-color:rgb(0 135 113 / .3);
    box-shadow: none;
    border-color: var(--color-primary-100);
}
.form-control::placeholder{
    color: #cfcfcf;
}
.form-control:hover{
    background-color:rgb(0 135 113 / .3);
    border-color: var(--color-primary-100);
    
} 
.forms-page .btn{
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.forms-page .btn:hover{
    width: 90%;
    background-color: var(--color-primary-100);
    box-shadow: 0 0 12px 0px var(--dark-color-tag-green-border);
}

.forms-page .more-links a{
    position: relative;
    width: max-content;

}
.forms-page .more-links a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    top: 29px;
    right: 0;
    background-color: white;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.forms-page .more-links a:hover::after{
    width: 100%;
}


/*
*************
dashboard 
*************
*/

/* aside */
aside{
    height: 100%
}
aside .nav-link:hover{
    background-color: var(--dark-color-surface-200);
    color: white;
}
aside .nav-link.active{
    background-color: var(--color-primary-100);
    color: white;
    background-image: linear-gradient(270deg, #fff0 30%, #009980, #fff0 100%);
    background-repeat: no-repeat;
    animation:bg-move linear 6.6s infinite;
    -webkit-animation:bg-move linear 6.6s infinite;
}

@keyframes bg-move {
    0% {
        background-position: 500px 0;
        
    }
    
    50% {
        background-position: 500px 0;
    }
    100% {
        background-position: -500px 0;
    }   
}


/* sidebar phone */

.dashboard .menu-phone button.menu-more{
    top: 40px;
    right: -20px;
}

.dashboard .menu-phone button.menu-close{
    width: fit-content;
    left: -34px;
    top: 40px;
    z-index: -1;
}
.dashboard .menu-phone .offcanvas{
    width: 200px;
}
/* alert */
.alert-danger{
    background-color: var(--dark-color-tag-red-bg);
    border-color: var(--dark-color-tag-red-border) !important;
    color: var(--dark-color-tag-red-color);
}
.alert-success{
    background-color: var(--dark-color-tag-green-bg);
    border-color: var(--dark-color-tag-green-border) !important;
    color: var(--dark-color-tag-green-color);
}

/* card */

.dashboard .card-head{
    border-bottom:1px solid var(--dark-color-surface-400);
    padding-bottom: 20px;
}

/* dropdown */
.dropdown-menu{
    width: max-content;
    
}
.cdropdown-item{
    display: block;
    width: 100%;
    padding: 5px 10px;
}
.cdropdown-item:hover{
    background: var(--dark-color-surface-300);
    
}

/* filter-second */
.dashboard .radio-button-wrapper,.dashboard .radio-button-wrapper:active{
    color: var(--dark-color-text-primary);
    background-color: rgb(0 135 113 / .3);
    border-color: var(--color-primary-100);
    border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

.dashboard .radio-button-wrapper.checked {
    color: #fff;
    background: #008771;
    border-color: #008771;
}

/* table */
.dashboard .table-wrapper{
    outline:1px solid var(--dark-color-table-ring);
}

.dashboard .table{
    border:0px solid var(--dark-color-table-ring);
}
.dashboard .table thead th{
    min-width: 130px;
}
.dashboard .table tbody tr>*{
    background-color: var(--dark-color-surface-100);
    color: var(--dark-color-text-primary);
}
.dashboard .table tbody tr:last-child *{
    border-bottom: none;
}
/* pagination */
.dashboard .pagination .page-item a{
    color: var(--dark-color-text-primary);
    background-color: rgb(0 135 113 / .3);
    border-color: var(--color-primary-100);
}

.dashboard .pagination .page-item.active a{
    color: #fff;
    background: #008771;
    border-color: #008771;
}
.dashboard .pagination .page-item:first-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dashboard .pagination .page-item:last-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* dashboard-home */
.dashboard-home .boxes .box{
    width: 300px;
}

/* dashboard-tabs */

#dashboardTab{
    border-bottom: 1px solid var(--dark-color-surface-600);
}

#dashboardTab .nav-item .nav-link{
    color: var(--dark-color-text-primary);
    font-weight: normal;
}
#dashboardTab .nav-item .nav-link:hover{
    color: var(--dark-color-tag-green-color);
}
#dashboardTab .nav-item .nav-link.active{
    color: var(--dark-color-tag-green-color);
    border-bottom: 2px solid var(--dark-color-tag-green-color);
}


/* forms */
.clist-group-item{
    border-bottom: 1px solid var(--dark-color-surface-500);
    padding: 20px
}
.clist-group-item:last-child{
    border: none;
}
.switch-control{
    padding: 13px 28px;
    cursor: pointer;
    border-color: var(--dark-color-tag-green-border);
}
.switch-control:checked{
    background-color: var(--dark-color-tag-green-color);
    border-color: var(--dark-color-tag-green-border);
}

